@charset "UTF-8";
/* CSS Document */

#container{
	margin-left: 50px;
	width: 1900px;
	height: 1000px;
	background-color: lightcyan;
}

p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 24px;
		}
	
	h1{
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-size: 45px;
	}

#leftColumn{
	width: 514px;
	height: 812px;
	margin-top: 200px;
	float: left;
	margin-left: 80px;
}

#rightColumn{
	width: 1109px;
	height: 780px;
	margin-top: 200px;
	float: left;
}

#artwork{
	width: 956px;
	height: 584px;
	margin-top: 120px;
	margin-left: 50px;
	
}

#SmallPic{
	width: 514px;
	display: none;
	visibility: hidden;
	height: 0;
}


@media screen and (max-width: 1200px) {
	

/*@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {*/
	
	
	
	/*@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 1),
  only screen and (                min-resolution: 458dpi),
  only screen and (                min-resolution: 3dppx) { 
    /* Retina styles here */

	
	#container{
	margin-left: auto;
	margin-right:auto;
	height: 2000px;	
	width: 1100px;
	background-color: brown;
	}
	
	
	#SmallPic{
	width: 1000px;
	display: block;
	visibility: visible;
	height: auto;
	}
	
	#artwork{
	width: 956px;
	height: 584px;
	margin-top: 120px;
	margin-left: 50px;
	display: none;
	visibility: hidden;
	height: 0px;
}
	
	#leftColumn{
	width: 990px;
	height: 812px;
	margin-top: 20px;
	float: left;
	margin-left: 50px;
	}
	
	p{
		font-size: 42px;
	}
	
	h1{
	font-size: 52px;
	}
}
	

	
	
	
	

	
